
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f4f6; /* Tailwind bg-gray-100 */
  color: #111827; /* Tailwind text-gray-900 */
}


.clip-chamfer {
  clip-path: polygon(0% 15%, 15% 0%, 85% 0%, 100% 15%, 100% 85%, 85% 100%, 15% 100%, 0% 85%);
}